/* === Start-Media-Query === */


/* --- Mainmenu-Responsive-CSS --- */
@media screen and (min-width: 1201px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: var(--navbar-height);
        padding: 0;
        margin: -1px 24px;
        position: relative;
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li>a:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.3S;
        width: 100%;
        height: 0px;
        background-color: var(--primary-color);
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li:hover>a:before,
    .mainmenu-area .nav-row .menu-items>ul>li>a.active:before {
        height: 3px;
    }
 }
 
 @media screen and (max-width: 1200px) {
    .mainmenu-area {
        border-color: rgba(0, 0, 0, 0.1);
    }
 
    .mainmenu-area .nav-action.toggle-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
 
    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 30px;
        height: 3px;
        display: block;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 3px 0;
        transition: 0.3s;
    }
 
    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }
 
    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
 
    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
 
    .mainmenu-area .nav-button {
        order: inherit;
    }
 
    .mainmenu-area .nav-row {
        flex-wrap: wrap;
    }
 
    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 -15px;
        display: none;
    }
    .mainmenu-area .manu-items {
       display: none;
    }
 }
 
 @media screen and (max-width: 992px) {
    .mainmenu-area .nav-action {
        width: 45px;
        height: 45px;
        margin-left: 16px;
    }
 
    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 24px;
        height: 2px;
    }
 }
 
 @media screen and (max-width: 630px) {
    .mainmenu-area .nav-row .menu-items ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        text-align: center;
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    }
 
    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.6em;
        padding: 12px 0;
        display: block;
    }
 }
 
 



@media screen and (max-width: 1400px) {
    .about-area .section-desc {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 1200px) {
    
     .header-item .top-title {
        font-size: 28px;
        margin-bottom: 24px;
     }
     .header-item .main-title {
        font-size: 60px;
     }
     .about-area .section-desc {
        font-size: 20px;
        margin-bottom: 45px;
    }
    .section-title .main-title {
        font-size: 36px;
    }
    .accordion-button.collapsed {
        font-size: 24px;
    }
    .section-title .desc {
        font-size: 18px;
    }
    .icon-box .title {
        font-size: 18px;
    }

}


@media screen and (max-width: 991px) {
    .primary-button {
        padding: 9.5px 18px;
        font-size: 14px;
     }
     .mainmenu-area .toggle-menu {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 70%;
    }
    .play-button .play-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    
    .header-item .main-title {
        font-size: 40px;
        margin-bottom: 24px;
     }
     .header-item .desc {
        font-size: 16px;
        margin-bottom: 46px;
    }
     .about-area .section-desc {
        font-size: 14px;
        margin-bottom: 45px;
    }
    .icon-box .title {
        font-size: 20px;
    }
    .icon-box .desc {
        font-size: 12px;
        margin-bottom: 24px;
    }
    .icon-box .icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
    }
    .section-title .top-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .section-title .main-title {
        font-size: 28px;
    }
    .section-title .desc {
        font-size: 18px;
    }
    .audio-area .main-title {
        font-size: 36px;
        margin-bottom: 45px;
    }
    .box-desc {
        font-size: 16px;
    }
    .audio-area .box-title {
        font-size: 16px;
    }
    .heard-voice-area .main-title {
        font-size: 22px;
        margin-bottom: 35px;
    }
    .section-title .top-title {
        font-size: 14px;
    }
    .accordion-button {
        font-size: 24px;
    }
    .accordion-desc {
        font-size: 16px;
    }
    .faq-image {
        float: left;
        width: 100%;
    }
    .contact-image {
        margin-top: 0;
    }
    .contact-info {
        padding: 24px;
    }
    .contact-info .lable {
        font-size: 14px;
    }
    .contact-info .icon{
        font-size: 24px;
    }
    .contact-info .no {
        font-size: 12px;
    }
    .faq-area .section-title .main-title {
        margin-bottom: 0;
    }
    .input-grouph textarea.input-filde {
        min-height: 150px;
    }

    
}
@media screen and (max-width: 767px) {
    .mainmenu-area .primary-button {
        padding: 10.5px 18.3px;
        font-size: 9px;
     }  

     
     .mainmenu-area .toggle-menu {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 60%;
    }
    
    .icon-box .desc {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .icon-box .title {
        font-size: 18px;
        margin-bottom: 0;
    }
    .icon-box .icon-title {
        margin-bottom: 8px;
    }
    .icon-box .icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
    .contact-info {
        padding: 32px;
    }

    .contact-info .lable {
        font-size: 28px;
    }

    .contact-info .icon {
        font-size: 32px;
    }
    .contact-info .no {
        font-size: 24px;
    }

    .accordion-button.collapsed {
        font-size: 18px;
    }
    button:focus:not(:focus-visible) {
        font-size: 18px;
    }
    .faq-shape {
        display: none;
    }
}
@media screen and (max-width: 576px) {

    
   .primary-button {
    padding: 12.5px 14px;
    font-size: 10px;
 }
    .audio-area .main-title {
        font-size: 24px;
        margin-bottom: 35px;
    }
    .audio-area .top-title {
        font-size: 14px;
    }
    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .faq-image {
        display: none;
    }
    .counting {
        padding-top: 50px;
    }
}

