/* --- Mainmenu-Responsive-CSS --- */
@media screen and (min-width: 1201px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: var(--navbar-height);
        padding: 0;
        margin: -1px 24px;
        position: relative;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.3S;
        width: 100%;
        height: 0px;
        background-color: var(--primary-color);
    }

    .mainmenu-area .nav-row .menu-items>ul>li:hover>a:before,
    .mainmenu-area .nav-row .menu-items>ul>li>a.active:before {
        height: 3px;
    }
}

@media screen and (max-width: 1200px) {
    .mainmenu-area {
        border-color: rgba(0, 0, 0, 0.1);
    }

    .mainmenu-area .nav-action.toggle-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 30px;
        height: 3px;
        display: block;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 3px 0;
        transition: 0.3s;
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .mainmenu-area .menu-button {
        order: inherit;
    }

    .mainmenu-area .nav-row {
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 -15px;
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .mainmenu-area .nav-action {
        width: 45px;
        height: 45px;
        margin-left: 16px;
    }

    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 24px;
        height: 2px;
    }
}

@media screen and (max-width: 630px) {
    .mainmenu-area .nav-row .menu-items ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        text-align: center;
    }

    .mainmenu-area .nav-row .menu-items>ul>li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.6em;
        padding: 12px 0;
        display: block;
    }
}





/* --- Body-Responsive-CSS --- */
@media screen and (max-width: 1200px) {

    .section-title .title {
        font-size: 40px;
    }

    .section-title .top-title {
        font-size: 16px;
    }

    .project-box-1 .info-box .icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
    }

    .contant .name-title {
        margin-bottom: 10px;
    }

    .contant .desc {
        font-size: 15px;
    }

    .price-box .price-title {
        font-size: 18px;
    }

    .price-box .price-rate {
        font-size: 37px;
    }

    .video-news .box-title {
        font-size: 18px;
    }
    
    .testimonial-item .desc {
        font-size: 18px;
    }

    .news-content .title {
        font-size: 20px;
    }

    .news-content .categoy {
        font-size: 15px;
    }

    .news-content .date {
        font-size: 13px;
    }

    .testimonial-area .element-1 {
        display: none;
    }

    .footer-blog .image-content {
        left: 40%;
    }

    .image-content .side-title {
        font-size: 15px;
    }



}


@media screen and (max-width: 992px) {


    .primary-button {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 1.8em;
    }

    .section-title {
        margin-bottom: 32px;
    }

    .header-box .section-title {
        margin-bottom: 32px;
    }

    .section-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-padding-top {
        padding-top: 120px;
    }

    .section-padding-bottom {
        padding-bottom: 120px;
    }

    .video-area .video-box {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .subscribe-from-area {
        padding-top: 50px;
    }


    .search-form .search-button {
        right: 20%;
    }
    
    .feature-box-1 .title {
        font-size: 18px;
    }
    
    .payment-area {
        padding-bottom: 100px;
    }
    
    .video-area {
        padding-top: 100px;
    }


}

@media screen and (max-width: 768px) {

    
.header-area {
     padding-top: 200px;
    padding-bottom: 150px;

}

    .section-title .title {
        font-size: 32px;
    }

    .section-title .top-title {
        font-size: 14px;
    }

    .header-box .section-title {
        margin-bottom: 40px;
    }


    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-padding-top {
        padding-top: 100px;
    }

    .section-padding-bottom {
        padding-bottom: 100px;
    }

    .accordion .item .title a {
        font-size: 18px;
    }

    .video-news {
        padding: 18px;
    }


    .testimonial-item .title {
        font-size: 20px;
    }


    .testimonial-item .position {
        font-size: 15px;
    }

    .search-form {
        padding: 44px 44px;
    }

    .subscribe-from .footer-logo {
        padding: 44px 55px;
    }



}

@media screen and (max-width: 576px) {


    .mainmenu-area .menu-button .primary-button {
        display: none;
    }


    .section-title .title {
        font-size: 24px;
    }

    .price-box .price-rate {
        font-size: 30px;
    }

    .price-box .price-title {
        font-size: 15px;
    }

    .video-icon .icon {
        width: 60px;
        height: 60px;
        line-height: 61px;
        font-size: 16px;
        padding-left: 2px;
    }

    .wave-effect {
        width: 60px;
        height: 60px;
    }

    .news-content .date {
        font-size: 10px;
    }

    .news-content .categoy {
        font-size: 12px;
    }

    .news-content .title {
        font-size: 18px;
    }

    .news-content {
        padding: 28px;
    }

    
    .search-form .search-button {
        right: 5%;
    }
    .search-form label[for="search-input"] {
        left: 60px;
    }


}