/* === Start-Media-Query === */


/* --- Mainmenu-Responsive-CSS --- */
@media screen and (min-width: 1201px) {
   .mainmenu-area .nav-row .menu-items {
       display: block !important;
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a {
       line-height: var(--navbar-height);
       padding: 0;
       margin: -1px 24px;
       position: relative;
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a:before {
       content: "";
       position: absolute;
       right: 0;
       bottom: 0;
       transition: 0.3S;
       width: 100%;
       height: 0px;
       background-color: var(--primary-color);
   }

   .mainmenu-area .nav-row .menu-items>ul>li:hover>a:before,
   .mainmenu-area .nav-row .menu-items>ul>li>a.active:before {
       height: 3px;
   }
}

@media screen and (max-width: 1200px) {
   .mainmenu-area {
       border-color: rgba(0, 0, 0, 0.1);
   }

   .mainmenu-area .nav-action.toggle-menu {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }

   .mainmenu-area .nav-action.toggle-menu .bar {
       width: 30px;
       height: 3px;
       display: block;
       background-color: #ffffff;
       border-radius: 10px;
       margin: 3px 0;
       transition: 0.3s;
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(1) {
       transform: rotate(45deg) translate(5px, 6px);
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(2) {
       opacity: 0;
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(3) {
       transform: rotate(-45deg) translate(7px, -7px);
   }

   .mainmenu-area .nav-button {
       order: inherit;
   }

   .mainmenu-area .nav-row {
       flex-wrap: wrap;
   }

   .mainmenu-area .nav-row .menu-items {
       width: 100%;
       margin: 0 -15px;
       display: none;
   }
   .mainmenu-area .manu-items {
      display: none;
   }
}

@media screen and (max-width: 992px) {
   .mainmenu-area .nav-action {
       width: 45px;
       height: 45px;
       margin-left: 16px;
   }

   .mainmenu-area .nav-action.toggle-menu .bar {
       width: 24px;
       height: 2px;
   }
}

@media screen and (max-width: 630px) {
   .mainmenu-area .nav-row .menu-items ul {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 12px 0;
   }

   .mainmenu-area .nav-row .menu-items>ul>li {
       width: 100%;
       text-align: center;
   }

   .mainmenu-area .nav-row .menu-items>ul>li:not(:last-child) {
       border-bottom: 1px solid rgba(0, 0, 0, 0.02);
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a {
       line-height: 1.6em;
       padding: 12px 0;
       display: block;
   }
}




/* body-responsive-css */
@media screen and (max-width: 1400px) {
   .header-area .header-item .main-title {
      font-size: 64px;
   }

   .testi-section .main-title {
      font-size: 36px;
   }

   .header-image {
      padding: 50px;
   }
   .slider-title .main-title {
      font-size: 36px;
   }
   
   .slider-title .title {
      margin-bottom: 20px;

   }
   .section-title .main-title {
      font-size: 40px;
   }


}

@media screen and (max-width: 1200px) {


   
   
   .header-area .header-item .main-title {
      font-size: 54px;
   }
   

   .feature-area .feature-desc {
      font-size: 18px;
   }

   .feature-area .section-title .title {
      font-size: 30px;
      margin-bottom: 40px;
   }

   .process-area .section-title .main-title-2 {
      font-size: 36px;
   }
   .slider-title .main-title {
      font-size: 26px;
      margin-bottom: 40px;
   }
   .slider-title .title {
      font-size: 14px;
   }
   .coustomar-area .top-title {
      margin-bottom: 10px;
   }
   .coustomar-area .main-title {
      font-size: 36px;
   }
   .social-links {
      position: static;
      display: flex;
      margin-top: 30px;
      transform: rotate(0deg)
  }
  .section-title .main-title {
   font-size: 36px;
}


}

@media screen and (max-width: 1050px) {
   .header-area .header-item .main-title {
      font-size: 46px;
   }

   .process-area .section-title .main-title {
      font-size: 40px;
      margin-bottom: 50px;
   }
  .nav-button .toggle-menu {
   width: 60px;
   height: 60px;
   line-height: 60px;
   font-size: 100%;
}



}





@media screen and (max-width: 991px) {

   .header-area .header-item .top-title {
      font-size: 24px;
      margin-bottom: 25px;
   }


   .header-area .header-item .main-title {
      font-size: 40px;
      margin-bottom: 24px;
   }

   .header-area .header-item .desc {
      font-size: 14px;
      margin-bottom: 36px;
   }

   .header-area .header-image {
      padding: 30px;
   }
   .section-title {
      margin-bottom: 30px
   }
   .feature-area .section-title .title {
      font-size: 24px;
   }

   .feature-area .section-title .top-title {
      font-size: 18px;
      margin-bottom: 14px;
   }
   .feature-area .feature-desc {
      font-size: 12px;
   }

   .h-shape-1 {
      left: 220px;
      bottom: -75px;
   }

   .process-area .section-title .main-title {
      font-size: 36px;
      margin-bottom: 24px;
   }

   .process-box .icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 24px;
   }

   .process-box .title {
      font-size: 20px;
      margin-bottom: 14px;
   }

   .section-title .top-title {
      margin-bottom: 10px;
      font-size: 14px;
   }

   .section-title .main-title {
      font-size: 26px;
      margin-bottom: 50px;
   }

   .stadius-box .info-box {
      height: 100px;
   }

   .stadius-box .info-box .icon {
      width: 44px;
      height: 44px;
      line-height: 44px;
      right: 14px;
      top: 28px;
   }

   .contant .name-title {
      font-size: 14px;
      margin-bottom: 14px;
   }

   .contant .desc {
      font-size: 18px;
   }

   .primary-button {
      padding: 9.5px 18px;
      font-size: 14px;
   }

   .process-area .section-title .top-title {
      font-size: 12px;
   }

   .process-area .section-title .main-title-2 {
      font-size: 24px;
      margin-bottom: 20px;
   }

   .process-area .section-title .desc {
      font-size: 14px;
      margin-bottom: 30px;
   }
   
   .coustomar-area .main-title {
      font-size: 28px;
   }
   .news-titles .main-title {
      font-size: 36px;
   }
   .date-addmin {
      margin-bottom: 10px;
   }
   .news-paid-area .news-title {
      font-size: 18px;
   }
   
  .nav-button .toggle-menu {
   width: 40px;
   height: 40px;
   line-height: 40px;
}

.border-right {
   border-right:none;
}



}





@media screen and (max-width: 767px) {

   .header-area .header-item .top-title {
      font-size: 28px;
      margin-bottom: 14px;
   }

   .header-area .header-item .main-title {
      font-size: 36px;
      margin-bottom: 20px;
   }
   .h-shape-1 {
      left: 150px;
      bottom: -70px;
  }

   .feature-area .section-title .title {
      margin-bottom: 20px;
   }
   .feature-area .feature-desc {
      font-size: 18px;
   }

   .mainmenu-area .primary-button {
      padding: 10.5px 18.3px;
      font-size: 9px;
   }

   .header-area .header-image {
      padding: 40px;
   }

   .process-box .desc {
      font-size: 16px;
   }

   .process-box {
      margin-bottom: 60px;
   }

   .section-title .main-title {
      font-size: 24px;
   }
   .contact-form {
      padding: 25px;
   }
   .blog-link {
      margin-top: 0;
      float: left;
      margin-bottom: 30px;
  }
  .news-paid-area .main-title {
   margin-bottom: 0;
  }
  .section-title .top-title {
   margin-bottom: 10px;
  }
  .nav-button .toggle-menu {
   width: 36px;
   height: 36px;
   line-height: 36px;
}
}

@media screen and (min-width: 768px) {}



@media screen and (max-width: 576px) {


   .process-area .section-title .top-title {
      font-size: 14px;
      margin-bottom: 14px;
   }

   .process-area .section-title .main-title {
      font-size: 32px;
   }

   .process-box {
      margin-bottom: 40px;
   }
   .stuadis-area .section-title {
      margin-bottom: 0;
   }
   
   .news-paid-area .section-title {
      margin-bottom: 0;
   }
   .section-title .top-title {
      font-size: 12px;
   }

   .section-title .main-title {
      font-size: 24px;
   }

   .section-padding {
      padding-top: 100px;
      padding-bottom: 100px;
   }

   .primary-button {
      padding: 12.5px 14px;
      font-size: 10px;
   }

   .nav-button .toggle-menu {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 70%;
   }

   .primary-button.case-bt {
      float: left;
      margin-bottom: 30px;
   }

   .testi-section .desc {
      font-size: 12px;
   }

   .testi-section .title {
      font-size: 14px;
      margin-bottom: 14px;
   }
   .news-titles .main-title {
      font-size: 28px;
   }
   .header-area .header-image {
      padding: 40px;
   }
   .blog-link {
      margin-top: 0;
   }


}




@media screen and (max-width: 320px) {

   .feature-area .feature-desc {
      margin-bottom: 36px;
   }

   .cout-box .count {
      font-size: 40px;
      margin-bottom: 14px;
   }

}

@media screen and (max-width: 1024px) {
   .h-shape-1 {
      left: 220px;
      bottom: -85px;
   }

   .header-item .desc {
      font-size: 14px;
      margin-bottom: 36px;
   }

   .header-item .main-title {
      font-size: 50px;
      margin-bottom: 18px;
   }

   .header-item .top-title {
      font-size: 28px;
      margin-bottom: 25px;
   }

   .header-image {
      padding: 45px;
   }

}

@media screen and (min-width: 1201) {
.feature-area .feature-desc {
      font-size: 15px;
   }
}