@media screen and (min-width: 1201px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

    .mainmenu-area:not(.sticky) .nav-row .menu-items>ul>li>a {

        line-height: var(--navbar-height);
        padding: 0;
        margin: 0 24px;
        position: relative;
    }

    .mainmenu-area:not(.sticky) .nav-row .menu-items>ul>li>a:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.3S;
        width: 0%;
        height: 3px;
    }

    .mainmenu-area:not(.sticky) .nav-row .menu-items>ul>li:hover>a:before,
    .mainmenu-area:not(.sticky) .nav-row .menu-items>ul>li.active>a:before {
        width: 100%;
        left: 0;
        right: auto;

    }

}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row {
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items {
        display: none;
    }

    .mainmenu-area .nav-row .nav-logo {
        width: 50%;
        min-height: 100px;
        line-height: 100px;
    }

    .mainmenu-area .menu-button {
        order: inherit;
        width: 50%;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: 80vh;
        overflow: auto;
    }

    .mainmenu-area .nav-row .menu-items>ul {
        border-radius: 5px;
        flex-direction: column;
        padding: 15px;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        padding: 0;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.5em;
        padding: 6px;
    }

    .mainmenu-area .nav-action {
        display: inline-block;
    }
    .section-title .title{
        font-size: 40px;
    }

    .header-box .top-title {
        font-size: 30px;
    }

    .header-box .title{
        font-size: 58px;
    }
    .service-box .title {
        font-size: 25px;
    }
    .project-box-2 .thumb .icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .project-box-2 .news-content{
        top: 50%;
    }
    .news-content .categoy{
        font-size: 13px;
    }
    .news-content .title{
        font-size: 15px;
    }


    


}

@media screen and (max-width: 992px) {

    .mainmenu-area .nav-action.toggle-menu {
        width: 41px;
        height: 41px;
        padding: 0;
        line-height: 41px;
        font-size: 10px;
    }
    

    .primary-button {
        padding: 12px 22px;
        font-size: 12px;
    }

    
    .section-title .top-title {
        font-size: 13px;
    }

    .section-title .title {
        font-size: 29px;
    }
    
    .bar_group .title {
        font-size: 16px;
    }
    .exp-item .left .name{
        font-size: 18px;
    }
    .exp-item .left .date {
        font-size: 13px;
    }
    .exp-item .right .title {
        font-size: 18px;
    }
    .video-box-2 .box-title{
        left: 18%;
    }
    .video-box-2 .title{
        font-size: 20px;
    }
    .company-project-logo .title {
        font-size: 35px;
    }



}

@media screen and (max-width: 768px) {
    
    .header-box .title{
        font-size: 40px;
    }
    
    .header-box .top-title {
        font-size: 25px;
    }
    .video-box-2 .number{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

}

@media screen and (max-width: 576px) {
    .mainmenu-area .nav-action.toggle-menu {
        width: 33px;
        height: 33px;
        line-height: 33px;
        font-size: 12px;
    }

    .primary-button {
        padding: 9.5px 13.3px;
        font-size: 10px;
    }
    
    .section-title .title{
        font-size: 25px;
    }
    .process-area .image-info {
        padding: 15px 15px;
        font-size: 12px;
        bottom: 0px;
        right: 5%;
    }
    .social-menu{
        display: flex;
        right: 0;
    }
    .social-menu a{
        margin-left: 10px;
    }
    .video-box-2 .box-title {
        left: 20%;
    }



}
