/* === Start-Media-Query === */
@media screen and (min-width: 1201px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }
}

@media screen and (max-width: 1400px) {
    .about-history {
        background-color: #F7F7F7;
        padding: 100px 200px;
        margin: 0 -130px;
        border-radius: 10px;
    }

    .about-area .image-info {
        padding: 27px;
        background-color: #F1554C;
        color: white;
        font-size: 18px;
        position: absolute;
        bottom: 24px;
        width: calc(100% - 15px);
    }

    .project-area .section-title .title {
        font-size: 47px;
        color: #10131F;
        margin-bottom: 74px;
    }

    .member-title .title {
        font-size: 44px;
    }

    .team-member-box .social-links a {
        margin-right: 10px;
    }

    .faq-box .title {
        font-size: 33px;
    }

    .subscribe-from .title {
        font-size: 45px;
    }

    .copyrights-list ul li a {
        margin-left: 25px;
        color: white;
    }

    .video-box {
        width: 115%;
    }

    .element.element-1.moving-1 {
        left: -80px;
    }

    .element.element-3.moving-3 {
        left: 611px;
        margin-top: 250px;
    }












}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row {
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items {
        display: none;
    }

    .mainmenu-area .nav-row .nav-logo {
        width: 70%;
        min-height: 100px;
        line-height: 100px;
    }

    .mainmenu-area .menu-button {
        order: inherit;
        width: 30%;
    }

    .mainmenu-area .nav-row .menu-items>ul {
        border-radius: 5px;
        background-color: white;
        flex-direction: column;
        padding: 15px;
    }

    .mainmenu-area .nav-action {
        display: inline-block;
    }

    .header-box .title {
        font-size: 58px;
    }

    .video-box {
        width: 135%;
    }

    .feature-area .side-title {
        font-size: 15px;

    }

    .about-history {
        margin: 0px -175px;
    }

    .about-history .title {
        font-size: 43px;
    }

    .feature-box .title {
        font-size: 23px;

    }


}

@media screen and (max-width: 996px) {

    .mainmenu-area .nav-row .nav-logo {
        width: 60%;
        min-height: 100px;
        line-height: 100px;
    }

    .mainmenu-area .menu-button {
        order: inherit;
        width: 40%;
    }
}

@media screen and (max-width: 991px) {

    .header-box .top-title {
        color: white;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .header-box .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .header-box .desc {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 54px;
    }

    .feature-area .side-title {
        font-size: 10px;
    }
}


@media screen and (max-width: 770px) {

    .mainmenu-area .nav-row .nav-logo {
        width: 40%;
        min-height: 100px;
        line-height: 100px;
    }

    .mainmenu-area .menu-button {
        order: inherit;
        width: 60%;
    }

    .header-box .top-title {
        font-size: 25px;
    }

    .header-box .title {
        font-size: 35px;
    }

    .header-box .desc {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .video-box {
        width: 80%;
    }

    .header-box .top-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .header-box .title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .header-box .desc {
        font-size: 20px;
    }

    .primary-button {
        font-size: 15px;
    }

    .mainmenu-area .nav-action {
        font-size: 15px;
    }

    .mainmenu-area .menu-button {
        width: 52%;
    }

    .feature-area .section-title {
        text-align: center;
    }

    .feature-area .side-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .feature-area .section-title .title {
        color: white;
        font-size: 45px;
        margin-bottom: 0;
    }

    .feature-box .desc {
        font-size: 15px;
    }

    .feature-box .title {
        font-size: 17px;
    }

}

@media screen and (max-width: 532px) {
    .mainmenu-area .menu-button {
        width: 55%;
    }

    .primary-button {
        font-size: 14px;
    }

    .mainmenu-area .nav-action {
        font-size: 15px;
    }
}