

/* === Start-Media-Query === */

/* --- Mainmenu-Responsive-CSS --- */
@media screen and (min-width: 1201px) {
   .mainmenu-area .nav-row .menu-items {
       display: block !important;
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a {
       line-height: var(--navbar-height);
       padding: 0;
       margin: -1px 24px;
       position: relative;
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a:before {
       content: "";
       position: absolute;
       right: 0;
       bottom: 0;
       transition: 0.3S;
       width: 100%;
       height: 0px;
       background-color: var(--primary-color);
   }

   .mainmenu-area .nav-row .menu-items>ul>li:hover>a:before,
   .mainmenu-area .nav-row .menu-items>ul>li>a.active:before {
       height: 3px;
   }
}

@media screen and (max-width: 1200px) {
   .mainmenu-area {
       border-color: rgba(0, 0, 0, 0.1);
   }

   .mainmenu-area .nav-action.toggle-menu {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }

   .mainmenu-area .nav-action.toggle-menu .bar {
       width: 30px;
       height: 3px;
       display: block;
       background-color: #ffffff;
       border-radius: 10px;
       margin: 3px 0;
       transition: 0.3s;
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(1) {
       transform: rotate(45deg) translate(5px, 6px);
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(2) {
       opacity: 0;
   }

   .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(3) {
       transform: rotate(-45deg) translate(7px, -7px);
   }

   .mainmenu-area .nav-button {
       order: inherit;
   }

   .mainmenu-area .nav-row {
       flex-wrap: wrap;
   }

   .mainmenu-area .nav-row .menu-items {
       width: 100%;
       border-top: 1px solid rgba(0, 0, 0, 0.1);
       margin: 0 -15px;
       display: none;
   }
   .mainmenu-area .manu-items {
      display: none;
   }
}

@media screen and (max-width: 992px) {
   .mainmenu-area .nav-action {
       width: 45px;
       height: 45px;
       margin-left: 16px;
   }

   .mainmenu-area .nav-action.toggle-menu .bar {
       width: 24px;
       height: 2px;
   }
}

@media screen and (max-width: 630px) {
   .mainmenu-area .nav-row .menu-items ul {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 12px 0;
   }

   .mainmenu-area .nav-row .menu-items>ul>li {
       width: 100%;
       text-align: center;
   }

   .mainmenu-area .nav-row .menu-items>ul>li:not(:last-child) {
       border-bottom: 1px solid rgba(0, 0, 0, 0.02);
   }

   .mainmenu-area .nav-row .menu-items>ul>li>a {
       line-height: 1.6em;
       padding: 12px 0;
       display: block;
   }
}

/* body-resposncive-css */

@media screen and (max-width: 1400px) {
   .header-item .main-title {
      font-size: 60px;
   }

   .blog-item .blog-title {
      font-size: 18px;
   }
   .coundown {
      padding: 36px;
  }
}

@media screen and (max-width: 1200px) {

   .header-item .top-title {
      font-size: 28px;
      margin-bottom: 24px;
   }

   .header-item .main-title {
      font-size: 56px;
      margin-bottom: 30px;
   }

   .section-title .main-title {
      font-size: 40px;
   }

   .about-area .section-desc {
      font-size: 20px;
      margin-bottom: 70px;
   }
   .coundown {
      padding: 18px;
  }

}


@media screen and (max-width: 991px) {

   .primary-button {
      padding: 12.5px 20.3px;
      font-size: 16px;
   }

   .mainmenu-area .toggle-menu {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 70%;
   }

   .header-item .main-title {
      font-size: 40px;
      margin-bottom: 24px;
   }

   .header-item .desc {
      font-size: 16px;
      margin-bottom: 46px;
   }

   .about-area .section-title .main-title {
      font-size: 28px;
   }

   .about-area .section-desc {
      font-size: 18px;
      margin-bottom: 50px;
   }

   .section-title .top-title {
      font-size: 14px;
      margin-bottom: 10px;
   }

   .section-title .main-title {
      font-size: 32px;
   }

   .section-title {
      margin-bottom: 32px;
   }

   .process-box .icon {
      padding: 28px;
      margin-bottom: 20px;
   }

   .process-box .title {
      font-size: 22px;
      margin-bottom: 14px;
   }

   .process-box .desc {
      font-size: 14px;
   }

   .angle-shape-2 {
      position: absolute;
      top: 20px;
      right: -65px;
   }

   .angle-shape-1 {
      position: absolute;
      top: 20px;
      right: -65px;
   }
   .elimant-box {
      left: -18%;
   }

}

@media screen and (max-width: 767px) {
   .secvice-box .title {
      font-size: 28px;
   }

   .coundown .number {
      font-size: 36px;
   }

   .coundown .lable {
      font-size: 14px;
   }

   .angle-shape-1,
   .angle-shape-2 {
      display: none;
   }



}

@media screen and (max-width: 576px) {

   .header-item .top-title {
      font-size: 20px;
      margin-bottom: 24px;
   }

   .header-item {
      margin-bottom: 36px;
   }

   .primary-button {
      padding: 9.5px 13.3px;
      font-size: 14px;
   }
   .branded-area .main-title {
      font-size: 20px;
      margin-bottom: 36px;
   }

   .coundown {
      padding: 28px;
   }
   .blog-box {
      display: inline-block;
   }

   .blog-item .date-2 {
      font-size: 12px;
      margin-bottom: 5px;
   }

   .blog-item .date {
      font-size: 14px;
      margin-bottom: 10px;
   }


   .blog-image img {
      min-width: 180px;
   }
   
   .elimant-box {
      display: none;
   }
   .about-beadeg {
      top: 50px;
   }

}