/* --- Mainmenu-Responsive-CSS --- */
@media screen and (min-width: 1201px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: var(--navbar-height);
        padding: 0;
        margin: -1px 24px;
        position: relative;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.3S;
        width: 100%;
        height: 0px;
        background-color: var(--primary-color);
    }

    .mainmenu-area .nav-row .menu-items>ul>li:hover>a:before,
    .mainmenu-area .nav-row .menu-items>ul>li>a.active:before {
        height: 3px;
    }
}

@media screen and (max-width: 1200px) {
    .mainmenu-area {
        border-color: rgba(0, 0, 0, 0.1);
    }

    .mainmenu-area .nav-action.toggle-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 30px;
        height: 3px;
        display: block;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 3px 0;
        transition: 0.3s;
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mainmenu-area .nav-action.toggle-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .mainmenu-area .menu-button {
        order: inherit;
    }

    .mainmenu-area .nav-row {
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 -15px;
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .mainmenu-area .nav-action {
        width: 45px;
        height: 45px;
        margin-left: 16px;
    }

    .mainmenu-area .nav-action.toggle-menu .bar {
        width: 24px;
        height: 2px;
    }
}

@media screen and (max-width: 630px) {
    .mainmenu-area .nav-row .menu-items ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        text-align: center;
    }

    .mainmenu-area .nav-row .menu-items>ul>li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.6em;
        padding: 12px 0;
        display: block;
    }
}





/* --- Body-Responsive-CSS --- */
@media screen and (max-width: 1200px) {

    .section-title .title {
        font-size: 40px;
    }

    .section-title .top-title {
        font-size: 16px;
    }

    .header-box .title {
        font-size: 48px;
    }

    .video-box-2 .number {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }

    .news-box .thumb .icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }

    .news-box .news-content {
        top: 60%;
    }
    .feedback-box-1 .thumb .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .feedback-box-1 .thumb{
        padding: 28px;
    }
    

}


@media screen and (max-width: 992px) {


    .primary-button {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 1.8em;
    }

    .section-title {
        margin-bottom: 32px;
    }


    .section-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-padding-top {
        padding-top: 120px;
    }

    .section-padding-bottom {
        padding-bottom: 120px;
    }

    .header-box .section-title {
        margin-bottom: 32px;
    }

    .header-area {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .process-image {
        float: none;
        width: 100%;
    }

    .process-area .image-info {
        right: 0;
        position: sticky;
        width: 100%;
    }
    
    .video-box-2 .title {
        font-size: 24px;
    }

    .company-project-logo .title {
        font-size: 38px;
    }
    .feature-area .element-3 {
        opacity: 0.2;
    }
    .feature-area .element-1 {
        opacity: 0.2;
    }
    .feature-area .element-2 {
        opacity: 0.2;
    }
    .widget-title {
        font-size: 17px;
    }
    .news-content .categoy {
        font-size: 14px;
    }
    
    .news-content .title {
        font-size: 18px;
    }
    .news-box .news-content{
        top: 50%;
    }
    
    .exp-item {
        flex-wrap: wrap;
        padding-left: 88px;
        padding-bottom: 40px;
    }
    
    .exp-item:last-child {
        padding-bottom: 0;
    }

    .exp-item .left {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .exp-item .right {
        width: 100%;
    }
    
    .exp-item .medal {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }



}

@media screen and (max-width: 768px) {


    .section-title .title {
        font-size: 32px;
    }

    .section-title .top-title {
        font-size: 14px;
    }


    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-padding-top {
        padding-top: 100px;
    }

    .section-padding-bottom {
        padding-bottom: 100px;
    }

    .header-area {
        padding-top: 200px;
        padding-bottom: 150px;

    }


    .header-box .section-title {
        margin-bottom: 40px;
    }

    .header-box .title {
        margin-bottom: 0;
    }

    .service-box .title {
        font-size: 20px;
    }




}
@media screen and (max-width: 576px) {

    .section-title .title {
        font-size: 24px;
    }

    .mainmenu-area .menu-button .primary-button {
        display: none;
    }

    .header-area {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .section-title .top-title {
        margin-bottom: 5px;
    }

    .section-title .desc {
        margin-top: 10px;
        font-size: 14px;
    }

    .social-menu {
        display: flex;
        left: 40px;
        top: 30px;
    }

    .social-menu a {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .header-box .title {
        margin-bottom: 0;
    }

    .service-box .icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .service-box .title {
        margin-bottom: 10px;
    }

    .service-box {
        padding: 15px 15px;
    }

    .bar_group .b_tooltip span {
        font-size: 14px;
    }

    .bar_group .title-2 {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 18px;
    }
    .bar_group:last-child{
        margin-bottom: 0;
    }



    .video-icon .icon {
        width: 60px;
        height: 60px;
        line-height: 61px;
        font-size: 16px;
        padding-left: 2px;
    }

    .wave-effect {
        width: 60px;
        height: 60px;
    }

    .process-area .image-info {
        padding: 17px 17px;
        font-size: 13px;
        bottom: 0;
    }
    .image-info .icon{
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .company-project-logo .title {
        font-size: 33px;
    }
    .company-project-logo .desc {
        border-left: none;
        border-bottom: 1px solid white;
    }
    .payment-area .element-1{
        opacity: 0.3;
    }
    .payment-area .element-2{
        opacity: 0.3;
    }


}