:root {
    --primary-color: #F1554C;
    --body-color: #6E6E78;
    --heading-color: #10131F;
    --navbar-height: 100px;
    --top-title-color: #F1554C;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: 'satoshi';
    font-weight: 500;
    font-size: 20px;
    color: var(--body-color);
}






/* preloder-css */


body {
    font-family: 'satoshi';

}

.loader-bg {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

.loader-bg h3 {
    position: fixed;
    color: var(--primary-color);
    font-size: 24px;
}

.loader {
    width: 8em;
    height: 8em;
    font-size: 22px;
    box-sizing: border-box;
    border-top: 0.3em solid #505050;
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loader span {
    position: absolute;
    color: var(--primary-color);
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
    animation: rotating 2s linear infinite;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid var(--primary-color);
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid #38BFAC;
    transform: rotate(240deg);
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg));
    }

    100% {
        transform: rotate(calc(360deg));
    }
}



P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "recoleta";
    font-weight: 600;
    color: var(--heading-color);
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

.rating-star {
    display: inline-block;
    position: relative;
    color: #FDB12E;
}

.rating-star .star {
    font-family: 'icomoon' !important;
}

.rating-star .star:before {
    content: "\e942 \e942 \e942 \e942 \e942";
}

.rating-star .back {
    opacity: 0.4;
}

.rating-star .front {
    position: absolute;
    left: 0;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    z-index: 2;
}


/*=== 2. Button-CSS ===*/
.primary-button {
    padding: 18.5px 34.3px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.primary-button:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}

.primary-button.white {
    background-color: #ffffff;
    color: var(--primary-color);
    margin-right: 32px;
    transition: 0.5s;
}

.primary-button.black {
    background-color: #10131F;
    color: #ffffff;
}

.primary-button.black:hover {
    background-color: var(--primary-color);
}

.play-button:hover {
    color: var(--primary-color);
}

.play-button {
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    position: absolute;
    z-index: 5;
}


.play-button .play-icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    margin-right: 16px;
}

.play-button:hover .play-icon {
    background-color: #ffffff;
    color: var(--primary-color);
}

.testi-area .primary-button:hover,
.news-paid-area .primary-button:hover {
    background-color: #10131F;
    color: #ffffff;
}

/*=== 3. Helper-Class-CSS ===*/
.page-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100%;
}

.section-padding {
    padding-top: 136px;
    padding-bottom: 136px;
}

.section-padding-top {
    padding-top: 178px;
}

.section-padding-bottom {
    padding-bottom: 136px;
}

/*=== 4. Section-Title-CSS ===*/

.section-title .top-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--top-title-color);
    margin-bottom: 14px;
    text-transform: uppercase;
}

.about-area .section-title {
    padding-top: 50px;
}

.section-title .main-title {
    font-size: 48px;
}

.section-title .desc {
    margin-top: 24px;
}

.section-title .title {
    font-size: 48px;
    margin-bottom: 24px;
}

.section-title.white-title .title {
    color: #ffffff;
}

.section-title.white-title .desc {
    color: #ffffff;
}

.section-title {
    margin-bottom: 40px;
}

/*=== 7. Mainmenu-CSS ===*/
.mainmenu-area {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}


.mainmenu-area.sticky {
    background-color: #10131F;
    position: fixed;

}


.mainmenu-area .nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.mainmenu-area .manu-items ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mainmenu-area .manu-items ul li {
    margin: 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mainmenu-area .manu-items ul li a {
    color: #ffffff;
    display: block;
    padding: 10px 0;
    transition: 0.5s;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.mainmenu-area .manu-items ul li:hover a {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.mainmenu-area .toggle-menu {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 80%;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: inline-block;
    display: none;
    margin-left: 20px;
}

.mainmenu-area .nav-button {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* header-area-css */
.header-area {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 170px;
    padding-bottom: 80px;
}

.header-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #10131F;
    opacity: 0.8;
}


.header-area::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    background-image: url(../images/theme-6/header-elimant-2.png);
    background-repeat: no-repeat;

}

.header-item .top-title {
    padding: 7px 16px;
    font-size: 24px;
    font-weight: 600;
    background-color: #FDB12E;
    display: inline-block;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 36px;
}

.header-item .main-title {
    color: #ffffff;
    font-size: 74px;
    font-weight: 600;
}

.header-item .desc {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
}

.header-item {
    margin-bottom: 56px;
}


.header-image {
    padding: 60px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-shape-1 {
    position: absolute;
    z-index: -1;
    left: 105px;
    bottom: 360px;
}

.header-shape-2 {
    position: absolute;
    z-index: -1;
    left: 250px;
    bottom: 10px;
}

.header-shape-3 {
    position: absolute;
    z-index: -1;
    right: 220px;
    top: 200px;
}

.header-area .circle {
    width: 500px;
    height: 500px;
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.05);
    right: 82%;
    bottom: 70%;
    border-radius: 100%;
}

.header-area .circle-2 {
    right: -18%;
    bottom: 50%;
    transform: translateY(50%);
    width: 1159px;
    height: 1159px;
    background-color: rgba(255,255,255,0.07);
}
/* brand-area-css */
.branded-area {
    position: relative;
    z-index: 1;
}
.branded-area .main-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 56px;
    text-align: center;
}

.brand-logo {
    padding: 15px 0px;
    background-color: #F7F7F7;
    border-radius: 5px;
    transition: 0.5s;
}

.brand-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    height: 120px;
}

.brand-logo:hover {
    background-color: #10131F;
}

.logo-slider .swiper-slide img {
    transition: 0.5s;
}

.logo-slider .swiper-slide:hover img {
    filter: brightness(10);
}


.brand-shape {
    position: absolute;
    z-index: -1;
    left: 85px;
    top: 140px;
}

/* About-area-css */

.about-area {
    position: relative;
    z-index: 1;
}

.about-image img {
    width: 100%;
}


.about-area .primary-button:hover {
    background-color: #10131F;
    color: #ffffff;
}

.about-image img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.about-beadeg {
    position: absolute;
    z-index: 2;
    top: 108px;
    right: -50px;
}
.section-img-box{
    position: relative;
    z-index: 1;
}
.elimant-box {
    padding: 26px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: -25%;
    bottom: 70px;
    z-index: 1;
    max-width: 300px;
    max-height: 140px;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.07);
}
.about-clints img {
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.07);
}
.about-clints {
    display: flex;
    position: absolute;
    top: -20px;
}

.elimant-contant span {
    color: var(--primary-color);
    font-weight: 700;
}

.about-shape-1 {
    position: absolute;
    z-index: -1;
    left: 130px;
    top: 230px;
}
.about-shape-2 {
    position: absolute;
    z-index: -1;
    left: 180px;
    bottom: 0;
}

.about-shape-3 {
    position: absolute;
    z-index: -1;
    right: 180px;
    bottom:200px;
}



/* process-area-css */
.process-area {
    position: relative;
    z-index: 1;
}
.process-area .section-title {
    text-align: center;
}

.process-box {
    text-align: center;
}

.process-box .icon {
    padding: 32px;
    background-color: rgba(241, 85, 76, 0.15);
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    border: 1px dashed #F1554C;
    margin-bottom: 28px;
}

.process-box .title {
    font-size: 28px;
    margin-bottom: 14px;
}


.process-shape-1 {
    position: absolute;
    z-index: -1;
    left: 132px;
    bottom: 250px;
}

.process-shape-2 {
    position: absolute;
    z-index: -1;
    right: 285px;
    top: 0;
}

.process-shape-3 {
    position: absolute;
    z-index: -1;
    right: 90px;
    bottom: 190px;
}
.angle-shape-1 {
    position: absolute;
    top: 20px;
    right: -50px;
}


.angle-shape-2 {
    position: absolute;
    top: 20px;
    right: -50px;
}


/* secvice-area-css */
.secvice-box {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    display: flex;
    margin-bottom: 24px;

}

.secvice-box:last-child {
    border: none;
}

.secvice-box .title {
    font-size: 34px;
    margin-bottom: 0px;
    color: #ffffff;
}

.secvice-box .desc {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.secvice-box .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
    margin-left: auto;
}

.secvice-box .icon:hover {
    background-color: var(--primary-color);
}

.secvice-box .icon a {
    color: #fff;
}

.service-area {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.service-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #10131F;
    opacity: 0.8;
}

.service-area .main-title {
    color: #ffffff;
}

.service-area .primary-button {
    background-color: #ffffff;
    color: var(--primary-color);
}

.service-area .primary-button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}
.service-area .scrvice-circle {
    width: 396px;
    height: 396px;
    border-radius: 100%;
    display: block;
    background-color: rgba(241, 85, 76, 0.3);
    position: absolute;
    z-index: -1;

}
.scrvice-circle.circle-1 {
    left: -10%;
    bottom: -20%;
}

.scrvice-circle.circle-2 {
    left: 0%;
    bottom: -30%;
}

.scrvice-circle.circle-3 {
    right: -10%;
    top: -20%;
    background-color: rgba(253, 177, 46, 0.3);
}

/* pricing-area-css */
.pricing-area {
    position: relative;
    z-index: 1;
}

.pricing-box {
    padding: 40px;
    background-color: #F7F7F7;
    border-radius: 5px;
    transition: 0.5s;
}

.pricing-box:hover {
    box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}

.pricing-box .pricing-title {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 22px;
}

.payment-mathod {
    display: flex;
}

.payment-mathod .period {
    margin-top: 20px;
}

.pricing-box .amount {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 8px;
}

.pricing-rete .desc {
    margin-bottom: 22px;
}

.price-ditells {
    border-bottom: 1px solid rgba(16, 19, 31, 0.1);
}

.pricing-box .list {
    list-style: none;
    padding: 0;
    margin: 22px 0 40px 0;
}

.list li:not(:last-child) {
    margin-bottom: 10px;
}

.pricing-box .list li::before {
    content: "\e90d";
    font-family: 'icomoon';
    color: #FDB12E;
    margin-right: 8px;
}

.pricing-box .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-shape-1 {
    position: absolute;
    z-index: -1;
    left: 310px;
    top: 230px;
}

.pricing-shape-2 {
    position: absolute;
    z-index: -1;
    right: 260px;
    bottom: 360px;
}


/* cass-stadius-area */
.stadius-slider {
    margin: 0 -160px;
}

.case-stadius-area {
    background-color: #F7F7F7;
}

.stadius-box {
    position: relative;
    z-index: 1;
}
.stadius-box img {
    width: 100%;
    border-radius: 10px;
}
.stadius-box .stadius-info {
    width: calc(100% - 60px);
    height: 135px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 24px;
    bottom: 48px;
    opacity: 0;
    transition: 0.5s;

}

.stadius-box:hover .stadius-info {
    opacity: 1;
}

.stadius-info .icon {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    right: 32px;
    bottom: 40px;
}

.slider-content .slider-title {
    font-size: 24px;
    margin-bottom: 18px;
}

.stadius-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

/* testimonial-area-css */
.testi-area {
    position: relative;
    z-index: 1;
}
.testi-box {
    padding: 40px;
    background-color: #F7F7F7;
    border-radius: 5px;
    position: relative;
    z-index: -1;
}

.testi-items .clints {
    display: flex;
}

.clints .clint-detles {
    margin: 10px 0px 0 15px;
}

.testi-items .quotes {
    position: absolute;
    top: 60px;
    right: 40px;
}

.testi-items .testi-desc {
    margin-top: 36px;
}

.testi-items {
    margin-bottom: 40px;
}

.swiper-controls .navigation-control .control {
    border: none;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    background-color: #ffffff;
    color: var(--heading-color);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;

}

.swiper-controls .navigation-control .control:hover {
    color: var(--primary-color);
}

.testi-shape-1 {
    position: absolute;
    z-index: -1;
    left: 195px;
    top: 150px;
}
.testi-shape-2 {
    position: absolute;
    z-index: -1;
    right: 140px;
    bottom: 230px;
}


/* coundown-area-css */
.coundown {
    padding: 56px;
    text-align: center;
}

.coundown .number {
    font-size: 48px;
}
.coundown-items>div {
    border: 1px solid rgba(16, 19, 31, 0.1);
    border-right: none;
}

/* News-paid-area-css */
.news-paid-area {
    position: relative;
    z-index: 1;
}
.blog-box {
    display: flex;
    background-color: #F7F7F7;
    border-radius: 5px;
}

.blog-image img {
    min-width: 220px;
}

.blog-box .blog-item {
    padding: 30px;
}

.blog-box img {
    width: 100%;
}

.blog-item .date {
    display: flex;
    margin-bottom: 20px;
}

.blog-item .date .icon {
    color: var(--primary-color);
    margin-right: 6px;
}

.blog-item .date a {
    color: var(--body-color);
    transition: 0.5s;
}

.blog-item .date a:hover {
    color: var(--primary-color);
}

.blog-item .blog-title {
    color: var(--heading-color);
    font-size: 24px;
    margin-bottom: 16px;
    transition: 0.5s;
}

.blog-item .blog-title:hover {
    color: var(--primary-color);
}

.blog-item .blog-button {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.news-shape-1 {
    position: absolute;
    z-index: -1;
    left: 120px;
    top: 150px;
}

.news-shape-2 {
    position: absolute;
    z-index: -1;
    right: 140px;
    bottom: 170px;
}

/* footer-area-css */
.footer-area {
    background-color: #10131F;
    position: relative;
    z-index: 1;
}

.widget-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 24px;
}

.bock-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bock-list li a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
    margin: 8px 0;
    display: inline-block;
}

.bock-list li a:hover {
    color: var(--primary-color);
}

.input-control {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.02);
    border: none;
    outline: none;
    padding: 18px 24px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 16px;
}

.subscribe-form .input-control {
    width: 100%;
    padding-left: 44px;
}


.subscribe-form .fe-envalop {
    position: absolute;
    z-index: 3;
    left: 24px;
    top: 75px;
}
.subscribe-form .primary-button {
    width: 100%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-spahe-1 {
    position: absolute;
    z-index: -1;
    left: 100px;
    bottom:100px;
}

.footer-spahe-2 {
    position: absolute;
    z-index: -1;
    right: 170px;
    top: 95px;
}
.footer-spahe-3 {
    position: absolute;
    z-index: -1;
    right: 130px;
    bottom: 105px;
}

.footer-area .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 24px 0;
}

