/* ==================
CSS Indexing
=====================
1. Reset-CSS
2. Button-CSS
3. Helper-Class-CSS
4. Section-Title-CSS
5. Icon-List-CSS
6. Preloader-CSS
7. Mainmenu-CSS
8. Header-CSS
9. Features-CSS
10.project--CSS-CSS
11. About-CSS
12. feedback-CSS
13. member-CSS
14. FAQ-CSS
15. core-features-CSS
16. news-area-CSS
17. subscribe-area-CSS
18. Footer-area-CSS
===================*/

:root {
    --primary-color: #F1554C;
    --body-color: #6E6E78;
    --heading-color: #131313;
    --navbar-height: 100px;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: 'satoshi';
    font-weight: 500;
    font-size: 18px;
    color: var(--body-color);
}

P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "recoleta";
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 16px;
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    transition: 0.5s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

/* === Section-Title === */
.section-title {
    margin-bottom: 56px;
}

.section-title .top-title {
    font-size: 17px;
    font-weight: 700;
    color: #F1554C;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-title .title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
}

.section-title .desc {
    margin-top: 24px;
}

.section-title.white .title {
    color: #ffffff;
}

.section-title.white .desc {
    color: rgba(255, 255, 255, 0.7);
}

/*preloader*/
.loader-bg {
    font-family: 'satoshi';
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

.loader-bg h3 {
    position: fixed;
    color: rgba(60, 195, 163, 1);
    font-size: 24px;
}

.loader {
    width: 8em;
    height: 8em;
    font-size: 22px;
    box-sizing: border-box;
    border-top: 0.3em solid rgba(241, 85, 76, 1);
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loader span {
    position: absolute;
    color: #FF5E31;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
    animation: rotating 2s linear infinite;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid rgba(60, 195, 163, 1);
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid rgb(49, 53, 45);
    transform: rotate(240deg);
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg));
    }

    100% {
        transform: rotate(calc(360deg));
    }
}





/*=== 2. Button-CSS ===*/
.primary-button {
    padding: 18px 32px;
    background-color: #10131F;
    color: white;
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
}

.primary-button:hover {
    background-color: white;
    color: #10131F;
    box-shadow: 0px 15px 35px rgba(109, 103, 100, 0.2);
}

.primary-button span {
    font-size: 80%;
}

.mouse-dir {
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: 1;
    display: inline-block;
}

.mouse-dir .dir-part {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mouse-dir:hover .dir-part {
    width: 260%;
    height: 562.5px;
}

.nav-button:hover {
    background-color: #10131F;
    color: #10131F;
}

/*=== 3. Helper-Class-CSS ===*/
.page-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100%;
}

.section-padding {
    padding-top: 132px;
    padding-bottom: 132px;
}

.section-padding-top {
    padding-top: 132px;
}

.section-padding-bottom {
    padding-bottom: 132px;
}

.mb-n40 {
    margin-bottom: -40px;
}


/*=== 7. Mainmenu-CSS ===*/
.mainmenu-area {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    position: absolute;
}

.mainmenu-area .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.mainmenu-area .nav-row .menu-items ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mainmenu-area.sticky {
    position: fixed;
    background-color: #ffffff;
}


.mainmenu-area .nav-row .menu-items>ul li a {
    color: var(--heading-color);
}

.mainmenu-area .nav-row .menu-items>ul>li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mainmenu-area .nav-row .menu-items>ul>li>a {
    line-height: var(--navbar-height);
    display: block;
    padding: 0 24px;
}

.mainmenu-area .nav-row .menu-items ul li>a.active~span,
.mainmenu-area .nav-row .menu-items ul li:hover>span,
.mainmenu-area .nav-row .menu-items ul li>a.active,
.mainmenu-area .nav-row .menu-items ul li:hover>a {
    color: var(--primary-color);
}


.mainmenu-area .nav-row .menu-items {
    flex-grow: 8;
}

.mainmenu-area .nav-row .nav-logo {
    flex-grow: 2;
}

.mainmenu-area .nav-action {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #ffffff;
    transition: 0.5s;
    margin-left: 5px;
    width: 62px;
    height: 62px;
    outline: none;
    border: none;
    padding: 0;
    margin-left: 24px;
}

.mainmenu-area .nav-action svg {
    width: 30px;
    height: 30px;
}

.mainmenu-area .nav-action:hover {
    color: white;
    background-color: var(--primary-color);
}

.mainmenu-area .menu-button {
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: calc(var(--navbar-height) - 2px);

}

.mainmenu-area .nav-action.toggle-menu {
    display: none;
}


.mainmenu-area .nav-action.toggle-menu {
    text-align: center;
}

/*=== 8. header-CSS ===*/
.header-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 283px;
    padding-bottom: 146px;
    background-color: #FFBCB8;
    position: relative;
}

.header-box .top-title {
    color: var(--primary-color);
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 12px;
}

.header-box .title {
    font-size: 74px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 48px;
}

.header-box .desc {
    color: var(--body-color);
    font-size: 20px;
}

.header-box .primary-button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.header-box .primary-button:hover {
    background-color: white;
    color: var(--primary-color);
}

.social-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -19%;
    top: 50px;
}

.social-menu a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    border-radius: 100px;
    margin-bottom: 24px;
    font-size: 22px;
    transition: 0.5s;
}

.social-menu li:hover a {
    background-color: var(--primary-color);
    color: white;
}



.header-area .element {
    position: absolute;
}

.header-area .element-1 {
    top: 15%;
    left: 10px;
}

.header-area .element-2 {
    left: 58%;
    top: 11vw;
}


.header-area .element-3 {
    left: 43%;
    bottom: 14%;
}

.header-area .element-4 {
    right: 9%;
    top: 30%;
}

/*=== 9. service-CSS ===*/

.service-area {
    position: relative;
}

.service-box {
    background-image: url(../images/theme-5/service-shape-4.png);
    background-position: 94% 10%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 30px 30px;
    transition: 0.5s;
    border-radius: 5px;

}

.service-box .icon {
    width: 72px;
    height: 72px;
    background-color: #8A64F9;
    color: white;
    text-align: center;
    line-height: 72px;
    font-size: 36px;
    border-radius: 100px;
    margin-bottom: 32px;
    transition: 0.5s;
}

.service-box:hover.box-1 .icon {
    background-color: white;
    color: #8A64F9;
}

.service-box:hover.box-1 {
    background-color: #8A64F9;
    color: white;
}

.service-box.box-2 .icon {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
}

.service-box:hover.box-2 .icon {
    color: var(--primary-color);
    background-color: white;

}

.service-box:hover.box-3,
.service-box.box-3 .icon {
    color: white;
    background-color: #FDB12E;
}

.service-box:hover.box-3 .icon {
    color: #FDB12E;
    background-color: white;
}

.service-box:hover {
    background-color: #F1554C;
    color: white;
    transition: 0.5s;
}

.service-box .title {
    font-size: 28px;
    font-weight: 600;
    color: #10131F;
    transition: 0.5s;
}

.service-box:hover .title {
    color: white;
}

.service-area .element {
    position: relative;
}

.service-area .element-1 {
    top: 50px;
    right: 15%;
}

.service-area .element-2 {
    left: 85%;
    top: 96px;
}

.service-area .element-3 {
    left: 85%;
    bottom: -26vw;
}



/*=== 10.process-service-CSS ===*/

.process-area {
    background-color: #F7F7F7;
    position: relative;
}

.process-image {
    width: 100vw;
    text-align: right;
    float: right;
    margin: 0;
    max-width: 875px;
}

.process-area .image-info {
    padding: 32px 32px;
    background-color: #8A64F9;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 48px;
    width: calc(100% - 48px);
    border-radius: 5px;
    right: 30%;
}



.bar_group {
    text-align: left;
    position: relative;
    margin-bottom: 32px;
}

.bar_group__bar.thick {
    width: 0%;
    height: 5px;
    background: #558bff;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.bar_group__bar.thick:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 5px;
    background: rgba(138, 100, 249, 20%);
    z-index: -1;
    bottom: 0px;
}

.bar_group__bar.thick.color-2:before {
    background: rgba(253, 177, 46, 20%);
}

.b_label,
.bar_label_min,
.bar_label_max,
.b_tooltip span {
    color: #000a2d;
    font-size: inherit;
    font-weight: 600;
}

.b_label {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

.bar_group .bar_label_max,
.bar_group .bar_label_min {
    position: absolute;
    bottom: -10px;
    line-height: 15px;
}

.bar_group .bar_label_max {
    right: 20px;
}

.bar_group .bar_label_min {
    left: 20px;
}

.bar_group .b_tooltip {
    position: absolute;
    top: -5px;
    right: 0;
}

.bar_group .b_tooltip span {
    font-size: 18px;
    line-height: 26px;
    color: #6E6E78;
    font-weight: 500;
}

.bar_group .b_tooltip span:after {
    content: "%";
    position: relative;
    top: 3px;
    display: inline-block;
    line-height: 36px;
}

.bar_group .elastic {
    background: #558bff;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.bar_group .title-2 {
    font-size: 18px;
    line-height: 26px;
    color: #6E6E78;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 48px;
}

.bar_group .sub-title {
    font-size: 14px;
    color: #6e7c90;
}

.process-area .element {
    position: absolute;
}

.process-area .element-1 {
    right: 13%;
    top: 6vw;
}

.process-area .element-2 {
    right: 25px;
    bottom: 5%;
}

.image-info .icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #FDB12E;
    border-radius: 5px;
    font-size: 16px;
    transform: rotate(180deg);
    position: absolute;
    top: -12px;
}


/*=== 10.experiences-service-CSS ===*/
.exp-item {
    display: flex;
}

.exp-item .left {
    width: calc(36% - 62px);
    margin-bottom: 125px;
}

.exp-item .left .name {
    font-size: 28px;
    font-weight: 600;
    color: #10131F;
    margin-bottom: 14px;
}

.exp-item .left .date {
    font-size: 18px;
    color: #6E6E78;
}

.exp-item .right {
    width: 64%;
}

.exp-item .right .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 14px;
}

.exp-item .medal {
    margin-right: 68px;
}

.exp-item .medal .sercal {
    width: 62px;
    height: 62px;
    border: 1px dashed rgba(16, 19, 31, 0.3);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-item .medal .point {
    width: 24px;
    height: 24px;
    background-color: #8A64F9;
    display: inline-block;
    border-radius: 100px;
}

.exp-item .medal .point.point-2 {
    background-color: #F1554C;
}

.exp-item .medal .point.point-3 {
    background-color: #FDB12E;

}

.exp-item .medal .line {
    height: 70%;
    width: 50%;
    border-right: 1px dashed rgba(16, 19, 31, 0.3);
    display: block;
}

.exp-item:last-child .medal .line {
    display: none;
}




/*=== 10.video-CSS ===*/


.video-area {
    position: relative;
    background-color: #F7F7F7;
}

.video-image img {
    border-radius: 5px;
    width: 100%;
}

.video-box-2 {
    margin-bottom: 40px;
}

.video-box-2 .number {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 5px;
    text-align: center;
    background-color: #F1554C;
    color: white;
    margin: 0;
    transition: 0.5s;
}

.video-box-2 .number.number-2 {
    background-color: #8A64F9;
    color: white;
}

.video-box-2 .number.number-3 {
    background-color: #FDB12E;
    color: white;
}

.video-box-2 .number:hover {
    background-color: white;
    color: #F1554C;
}

.video-box-2 .number:hover.number-2 {
    background-color: white;
    color: #8A64F9;
}

.video-box-2 .number:hover.number-3 {
    background-color: white;
    color: #FDB12E;
}


.video-box-2 .box-title {
    position: relative;
    right: 0;
    left: 23%;
}

.video-box-2 .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}


.video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1;

}

.video-icon {
    position: relative;
}

.video-icon .icon {
    width: 80px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    line-height: 85px;
    color: white;
    background-color: #F1554C;
    display: inline-block;
    border-radius: 120px;
    padding-left: 5px;
    transition: 0.5s;
}

.video-icon .icon:hover {
    color: #F1554C;
    background-color: white;
}


.wave-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100px;
    height: 100px;
}


.wave-effect span {
    width: 100%;
    height: 100%;
    border-style: solid;
    background-color: rgba(241, 85, 76, 0.4);
    border: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 200px;
    animation-name: wave;
    animation-duration: 1.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wave-effect span:nth-child(1) {
    animation-delay: 0s;
}

.wave-effect span:nth-child(2) {
    animation-delay: 0.6s;
}

.wave-effect span:nth-child(3) {
    animation-delay: 1.2s;
}

.wave-effect span:nth-child(4) {
    animation-delay: 1.8s;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
        border-width: 1px;
    }

    100% {
        transform: scale(2.6);
        opacity: 0;
        border-width: 0px;
    }
}

.video-area .element {
    position: absolute;
}

.video-area .element-1 {
    top: 45%;
    left: 50px;
}

.video-area .element-2 {
    top: 10vw;
    right: 10%;
}

.video-area .element-3 {
    right: 80px;
}

/*=== 10.company-project-CSS ===*/

.company-project-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-project-area {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-project-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(16, 19, 31, 0.8);
}

.company-project-logo img {
    margin-bottom: 35px;
}

.company-project-logo .title {
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}

.company-project-logo .desc {
    font-size: 18px;
    font-weight: 500;
    border-left: 1px solid white;
    color: white;
    opacity: 0.7;
}


/*=== 10.news-area-CSS ===*/

.news-area {
    position: relative;
}

.news-box {
    margin-bottom: 28px;
}

.news-box .thumb img {
    width: 100%;
}

.news-box .thumb .icon-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1;
    transition: 0.5s;
}

.news-box .thumb .icon {
    width: 112px;
    height: 112px;
    line-height: 112px;
    text-align: center;
    background-color: #F1554C;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    opacity: 0;

}

.news-box .thumb .icon:hover {
    background-color: white;
    color: #F1554C;

}

.news-box .news-content {
    position: absolute;
    bottom: 0;
    top: 70%;
    left: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.news-box:hover .thumb .icon,
.news-box:hover .news-content {
    opacity: 1;
}

.news-content .categoy {
    margin-bottom: 12px;
    padding: 6px 12px;
    background-color: white;
    margin-right: auto;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
}

.news-content .title {
    padding: 6px 16px;
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    margin-right: auto;
    border-radius: 3px;
}

.news-content .title a {
    color: #10131F;
}

.news-area .side-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    transition: 0.5s;
}

.news-area .side-button .primary-button {
    background-color: var(--primary-color);
    color: white;
}

.news-area .side-button .primary-button:hover {
    background-color: white;
    color: var(--primary-color);
}

.news-image img {
    position: relative;
    width: 100%;
}


/*=== payment-area-CSS ===*/

.payment-area {
    background-color: #F7F7F7;
    position: relative;
}

.payment-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 120px;
}

.payment-logo a:hover {
    background-color: var(--primary-color);
}

.payment-logo:hover img {
    filter: brightness(10);
}

.payment-area .element {
    position: absolute;
}

.payment-area .element-1 {
    top: 20%;
    left: 5vw;
}

.payment-area .element-2 {
    top: 10%;
    right: 50px;
}

.payment-area .element-3 {
    right: 8%;
    bottom: 10%;
}

/*=== testimonial-area-CSS ===*/

.testimonial-area {
    position: relative;
}

.testimonial-items img {
    position: absolute;
    top: -60px;

}

.testimonial-items {
    padding: 32px;
    background-color: #F7F7F7;
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

.testimonial-items:hover {
    background-color: #F1554C;
    color: #F7F7F7;
}

.rating-star {
    display: inline-block;
    position: relative;
    color: #FDB12E;
    margin-bottom: 20px;
    transition: 0.5s;
}

.rating-star .star {
    font-family: 'icomoon' !important;
}

.rating-star .star:before {
    content: "\e942 \e942 \e942 \e942 \e942";
}

.rating-star .back {
    opacity: 0.4;
}

.rating-star .front {
    position: absolute;
    left: 0;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    z-index: 2;
}

.testimonial-items:hover .rating-star {
    color: white;
}

.testimonial-items .clint {
    margin-top: 21px;
}

.testimonial-items .clint .name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3px;
    transition: 0.5s;
}

.testimonial-items:hover .clint .name {
    color: white;
}

.testimonial-area .element {
    position: absolute;
}

.testimonial-area .element-1 {
    top: 45%;
    left: 50px;
}

.testimonial-area .element-2 {
    right: 9vw;
    top: 31%;
}

/*=== feature-area-CSS ===*/

.feature-area {
    background-color: var(--primary-color);
    position: relative;

}

.feature-area .section-title .top-title {
    color: white;
}

.feature-area .video-icon .icon {
    width: 51px;
    height: 51px;
    font-size: 15px;
    text-align: center;
    line-height: 51px;
    color: white;
    background-color: #F1554C;
    display: inline-block;
    border-radius: 120px;
    padding-left: 3px;
    transition: 0.5s;
}

.feature-area .primary-button {
    background-color: white;
    color: #10131F;
}

.feature-area .primary-button:hover {
    color: white;
    background-color: #10131F;
}

.feature-area .feature-video-image {
    text-align: center;
    justify-content: center;
    position: absolute;
}

.feature-area .element {
    position: absolute;
}

.feature-area .element-1 {
    left: 30px;
}

.feature-area .element-2 {
    top: 25%;
    right: 33%;
}

.feature-area .element-3 {
    right: 4vw;
    top: 25%;
}






/*=== feedback-area-CSS ===*/

.feedback-area {
    position: relative;
}

.feedback-box-1 {
    background-color: #F7F7F7;
}

.feedback-box-1 .thumb .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 23px;
}

.feedback-box-1 .thumb .title a {
    color: #10131F;
}

.feedback-box-1 .thumb {
    padding: 32px;
}

.feedback-box-1 .thumb .feedback-info {
    display: flex;
}

.feedback-info .feedback-button {
    width: 93px;
    height: 34px;
    text-align: center;
    background-color: #10131F;
    color: white;
    border-radius: 3px;
    margin-right: 24px;
}

.feedback-info span {
    margin-left: 40px;
    font-size: 24px;
    color: #F1554C;
}

.feedback-area .element {
    position: absolute;
}

.feedback-area .element-1 {
    bottom: 20%;
    left: 30px;
}

.feedback-area .element-2 {
    right: 3vw;
    top: 32%;
}




/* footer-area-css */
.footer-area {
    background-color: #F7F7F7;
    position: relative;
    z-index: 1;
}

.widget-title {
    font-size: 24px;
    color: #10131F;
    margin-bottom: 24px;
}

.bock-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bock-list li a {
    color: #6E6E78;
    transition: 0.5s;
    margin: 8px 0;
    display: inline-block;
}

.bock-list li:hover a {
    color: var(--primary-color);
}

.input-control {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.02);
    border: none;
    outline: none;
    padding: 18px 24px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 16px;
}

.subscribe-form .input-control {
    width: 100%;
    padding-left: 44px;
}


.subscribe-form .fe-envalop {
    position: absolute;
    z-index: 3;
    left: 24px;
    top: 75px;
}

.subscribe-form .primary-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s;
    border: none;
}

.subscribe-form .primary-button:hover {
    color: var(--primary-color);
    background-color: white;
}

.footer-area .element {
    position: absolute;
    z-index: 1;
}

.footer-area .element-1 {
    top: 75%;
    left: 50px;
}

.footer-area .element-2 {
    right: 5vw;
    top: 15%;
}

.footer-area .element-3 {
    right: 5vw;
    bottom: 20%;
}

.footer-bottom {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(16, 19, 31, 0.1);
    padding: 24px 0 24px 0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}