
:root {
    --primary-color:#3CC3A3;
    --body-color: #6E6E78;
    --heading-color: #10131F;
    --navbar-height: 100px;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: "recoleta";  
    font-weight: 500;
    font-size: 20px;
    color: var(--body-color);
}

P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 16px;
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1440px;
}

/*=== 2. Button-CSS ===*/
.primary-button {
    width: 180px;
    height: 64px;
    line-height: 64px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}
.primary-button:hover{
    background-color: #ffffff;
    color: var(--primary-color);
}

/*=== 3. Helper-Class-CSS ===*/
.page-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100%;
}

.section-padding {
    padding-top: 136px;
    padding-bottom: 136px;
}

.section-padding-top {
    padding-top: 178px;
}

.section-padding-bottom {
    padding-bottom: 136px;
}

/*=== 4. Section-Title-CSS ===*/
.section-title .title {
    font-size: 48px;
    margin-bottom: 24px;
}

.section-title.white-title .title {
    color: #ffffff;
}

.section-title.white-title .desc {
    color: #ffffff;
}

/*=== 7. Mainmenu-CSS ===*/
.mainmenu-area {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    position: fixed;
}

.mainmenu-area {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
/* 
.mainmenu-area.sticky {
    position: fixed;
    background-color: #ffffff;
} */

.mainmenu-area .nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mainmenu-area .manu-items ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.mainmenu-area .manu-items ul li a {
    color: #ffffff;
    display: block;
    padding: 10px 24px;
    transition: 0.5s;
}
.mainmenu-area .manu-items ul li:hover a{
    color: var(--primary-color);
}
/* header-area-css */
.header-area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.header-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #10131F;
    opacity: 0.8;
}
.header-area .header-item{
    padding-top: 170px;
    padding-bottom: 170px;
}
.header-item .top-title {
    font-size: 34px;
    color: var(--primary-color);
    margin-bottom: 12px;
}
.header-item .main-title {
    color: #ffffff;
    font-size: 74px;
    margin-bottom: 24px;
}
.header-item .desc{
    font-size: 20px;
    margin-bottom: 56px;
    color: rgba(255, 255, 255, 0.8);
}
.primary-button .button-link {
    text-align: center;
    color: #ffffff;
}
.primary-button:hover {
    color: var(--primary-color);
}
/* feature-area */
.feature-area .section-title .top-title {
    color:#F1554C;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}
.feature-area .section-title .title {
    font-size: 40px;
    margin-bottom: 56px;
}
.feature-area .feature-desc{
    font-size: 18px;
    margin-bottom: 64px;
    color:  #6E6E78;
    text-align: center;
}
.feature-area .feature-box-1 {
    padding: 32px;
    background-color:#F2F2F2;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}
.feature-area .feature-box-1:hover .icon{
    color: #ffffff;
}
.feature-area .feature-box-1:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}
.feature-area .feature-box-1:hover >*{
    color: #ffffff;
}

.feature-area .feature-box-1 .icon {
    width: 48px;
    height: 48px;
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 32px;
}
.feature-box-1 .title{
    font-size: 24px;
    margin-bottom: 12px;
}
.feature-box-1 .desc{
    margin-bottom: 24px;
}
.feature-box-1 .button {
    color: var(--heading-color);
}
/* aweds-area-css */
.aweds-area {
    background-color: #F8F3EA;
}
/* .aweds-area .counting-box .icon{
    width: 80px;
    height: 80px;
    font-size: 80px;
    margin-left: 30px;
} */
.aweds-area .counting-box .count{
    font-size: 48px;
    margin-bottom: 4px;
    color: #10131F;
    font-weight: 600;
}
/* process-area-css */
.process-area .section-title .top-title{
    font-size: 18px;
    font-weight: 700;
    color: #F1554C;
    margin-bottom: 4px;
}
.process-area .section-title .main-title {
    font-size: 48px;
    margin-bottom: 56px;
}
.process-box {
    position: relative;
    margin-bottom: 68px;
    padding-left: 88px;
}
.process-box:last-child{
    margin-bottom: 0;
}
.process-box .icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    border-radius: 100px;
    color: #ffffff;
    text-align: center;
    transition: 0.5s;
    position: absolute;
    left: 0;
    top: 0;
}
.process-box .icon.color-1 {
    background-color: #F1554C;
    color: #ffffff;
}
.process-box .icon:hover.color-1{
    background-color: #ffffff;
    color: #F1554C;
} 

.process-box .icon.color-2 {
    background-color: var(--primary-color);
    color: #ffffff;
}
.process-box .icon:hover.color-2{
    background-color: #ffffff;
    color: var(--primary-color);
} 

.process-box .icon.color-3 {
    background-color: yellow;
    color: #ffffff;
}
.process-box .icon:hover.color-3{
    background-color: #ffffff;
    color: yellow;
} 
.process-box .title {
    font-size: 28px;
    margin-bottom: 4px;
}
.process-box .desc {
    font-size: 18px;
}
.process-area .section-title .main-title-2{
    font-size: 48px;
    margin-bottom: 24px;
}
.process-area .section-title .desc{
    font-size: 20px;
    margin-bottom: 40px;
}
.process-image {
    width: 100vw;
    float: right;
    max-width: 1040px;
    margin: 0;
    line-height: 0;
}
/* payment-area-css */
.payment-area {
    background-color: #10131F;
}
.payment-area .payment-logo {
    align-items: center;
    text-align: center;
}

/* stuadis-area-css */
.stuadis-area {
    background-color: #FFF1EC;
}

.stuadis-image img {
    width: 100%;
}



















/* footer-area-css */
.footer-area {
    background-color: #10131F;
}
.footer-area .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 24px 0;
}
.footer-widegt .footer-logo {
    display: inline-block;
    margin-bottom: 50px;
}
.footer-widegt .desc {
    margin-bottom: 32px;
}
.social-manu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.social-manu li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background-color: var(--primary-color);
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    margin: 10px;
    transition: 0.5s;
}
.social-manu li:hover a{
    background-color: #ffffff;
    color: var(--primary-color);
}
.footer-widegt .widegt-title {
    margin-bottom: 32px;
    color: #ffffff;
}
.block-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.block-list li a {
    color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    display: inline-block;
    transition: 0.5s;
}
.block-list li:hover a{
    color: var(--primary-color);
}