/* ==================
CSS Indexing
=====================
1. Reset-CSS
2. Button-CSS
3. Helper-Class-CSS
4. Section-Title-CSS
5. Icon-List-CSS
6. Preloader-CSS
7. Mainmenu-CSS
8. Header-CSS
9. Features-CSS
10.project--CSS-CSS
11. About-CSS
12. feedback-CSS
13. member-CSS
14. FAQ-CSS
15. core-features-CSS
16. news-area-CSS
17. subscribe-area-CSS
18. Footer-area-CSS
===================*/

:root {
    --primary-color: #3CC3A3;
    --body-color: #6E6E78;
    --heading-color: #131313;
    --navbar-height: 120px;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: 'satoshi';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
    color: var(--body-color);
}

P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "recoleta";
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 16px;
    line-height: 1.3em;
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    transition: 0.5s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

/* === Section-Title === */
.section-title {
    margin-bottom: 56px;
}

.section-title .top-title {
    font-size: 18px;
    font-weight: 700;
    color: #F1554C;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-title .title {
    margin: 0;
    font-size: 48px;
}

.section-title .desc {
    margin-top: 24px;
}

.section-title.white .title {
    color: #ffffff;
}

.section-title.white .desc {
    color: rgba(255, 255, 255, 0.7);
}

/*preloader*/
.loader-bg {
    font-family: 'satoshi';
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

.loader-bg h3 {
    position: fixed;
    color: rgba(60, 195, 163, 1);
    font-size: 24px;
}

.loader {
    width: 8em;
    height: 8em;
    font-size: 22px;
    box-sizing: border-box;
    border-top: 0.3em solid rgba(241, 85, 76, 1);
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loader span {
    position: absolute;
    color: #FF5E31;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
    animation: rotating 2s linear infinite;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid rgba(60, 195, 163, 1);
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid rgb(49, 53, 45);
    transform: rotate(240deg);
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg));
    }

    100% {
        transform: rotate(calc(360deg));
    }
}





/*=== 2. Button-CSS ===*/
.primary-button {
    padding: 18px 32px;
    background-color: #10131F;
    color: white;
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
}

.primary-button:hover {
    background-color: white;
    color: #10131F;
    box-shadow: 0px 15px 35px rgba(109, 103, 100, 0.2);
}

.primary-button span {
    font-size: 80%;
}

.mouse-dir {
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: 1;
    display: inline-block;
}

.mouse-dir .dir-part {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mouse-dir:hover .dir-part {
    width: 260%;
    height: 562.5px;
}

.nav-button:hover {
    background-color: #10131F;
    color: #10131F;
}

/*=== 3. Helper-Class-CSS ===*/
.page-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100%;
}

.section-padding {
    padding-top: 132px;
    padding-bottom: 132px;
}

.section-padding-top {
    padding-top: 132px;
}

.section-padding-bottom {
    padding-bottom: 132px;
}

.mb-n40 {
    margin-bottom: -40px;
}


/*=== 7. Mainmenu-CSS ===*/
.mainmenu-area {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    min-height: var(--navbar-height);
}

.mainmenu-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
}

.mainmenu-area .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.mainmenu-area .nav-row .menu-items ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mainmenu-area.sticky {
    position: fixed;
    background-color: #ffffff;
}


.mainmenu-area .nav-row .menu-items>ul li a {
    color: var(--body-color);
}

.mainmenu-area .nav-row .menu-items>ul>li>a {
    line-height: var(--navbar-height);
    display: block;
    padding: 0 24px;
}

.mainmenu-area .nav-row .menu-items ul li>a.active~span,
.mainmenu-area .nav-row .menu-items ul li:hover>span,
.mainmenu-area .nav-row .menu-items ul li>a.active,
.mainmenu-area .nav-row .menu-items ul li:hover>a {
    color: var(--primary-color);
}


.mainmenu-area .nav-row .menu-items {
    flex-grow: 8;
}

.mainmenu-area .nav-row .nav-logo {
    flex-grow: 2;
    min-height: calc(var(--navbar-height) - 2px);
    display: flex;
    align-items: center;
}

.mainmenu-area .nav-action {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #ffffff;
    transition: 0.5s;
    margin-left: 5px;
    width: 62px;
    height: 62px;
    outline: none;
    border: none;
    padding: 0;
    margin-left: 24px;
}

.mainmenu-area .nav-action svg {
    width: 30px;
    height: 30px;
}

.mainmenu-area .nav-action:hover {
    color: white;
    background-color: var(--primary-color);
}

.mainmenu-area .menu-button {
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: calc(var(--navbar-height) - 2px);
}

.mainmenu-area .nav-action.toggle-menu {
    display: none;
}

/*=== 8. header-CSS ===*/
.header-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 220px;
}

.header-area .header-box {
    padding: 72px;
    position: relative;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.header-area .header-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--primary-color);
    opacity: 0.9;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
}

.header-box .top-title {
    color: white;
    font-size: 34px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.header-box .title {
    font-size: 74px;
    line-height: 130%;
    color: white;
    margin-bottom: 0px;
}

.header-box .desc {
    color: #ffffff;
    font-size: 20px;
    margin-top: 12px;
}

.header-box .primary-button {
    background-color: #ffffff;
    color: #10131F;
    border-radius: 5px;
}

.header-box .primary-button:hover {
    background-color: #10131F;
    color: white;
}

.header-box .section-title {
    margin-bottom: 50px;
    ;
}


.video-icon {
    position: relative;
}

.video-icon .icon {
    width: 80px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    line-height: 85px;
    color: white;
    background-color: #F1554C;
    display: inline-block;
    border-radius: 120px;
    padding-left: 5px;
    transition: 0.5s;
}

.video-icon .icon:hover {
    color: #F1554C;
    background-color: white;
}

.video-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100px;
    height: 100px;
}


.wave-effect span {
    width: 100%;
    height: 100%;
    border-style: solid;
    background-color: rgba(241, 85, 76, 0.4);
    border: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 200px;
    animation-name: wave;
    animation-duration: 1.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wave-effect span:nth-child(1) {
    animation-delay: 0s;
}

.wave-effect span:nth-child(2) {
    animation-delay: 0.6s;
}

.wave-effect span:nth-child(3) {
    animation-delay: 1.2s;
}

.wave-effect span:nth-child(4) {
    animation-delay: 1.8s;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
        border-width: 1px;
    }

    100% {
        transform: scale(2.6);
        opacity: 0;
        border-width: 0px;
    }
}



/*=== 9. feature-CSS ===*/
.feature-area {
    background-color: #10131F;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-area .container {
    position: relative;
    z-index: 1;
}

.feature-area .element {
    position: absolute;
    z-index: -1;
}

.feature-area .element-1 {
    left: -7vw;
    top: 0;
}

.moving-1 {
    animation: moving1 20s linear 0s infinite;
}

@keyframes moving1 {
    0% {
        transform: translate(0px, -100px) rotate(0deg);
    }

    25% {
        transform: translate(0px, 100px) rotate(0deg);
    }
}



.feature-area .element-2 {
    bottom: -4vw;
    left: -2vw;
}

.moving-2 {
    animation: moving2 20s linear 0s infinite;
}


@keyframes moving2 {
    0% {
        transform: translate(-50px, 0px) rotate(20deg);
    }

    25% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}



.feature-area .element-3 {
    left: 108%;
    bottom: -15%;
}

.moving-3 {
    animation: moving3 20s linear 0s infinite;
}


@keyframes moving3 {
    0% {
        transform: translate(0px, 0px) rotate(100deg);
    }

    35% {
        transform: translate(0px, 0px) rotate(-100deg);
    }
}

.link-button {
    color: var(--primary-color);
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 5px;
}

.feature-box {
    padding: 48px;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    background-color: #1C1F2A;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
}

.feature-box:hover {
    background-color: #10131F;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1) inset;
}

.feature-box .bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: 0.5s ease-in-out;
    z-index: -2;
    border-radius: 8px;
    opacity: 0;
    transform: rotate(0deg) scale(1);
}

.feature-box:hover .bg {
    opacity: 0.3;
    transform: rotate(-5deg) scale(1.2);
}

.feature-box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 36px;
    padding-top: 2px;
    color: white;
    background-color: #FDB12E;
    border-radius: 100px;
    margin-bottom: 36px;
    transition: 0.5;
    transition: 0.5s;
}

.feature-box:hover .icon {
    color: #FDB12E;
    background-color: white;
}

.feature-box.box-2 .icon {
    color: #ffffff;
    background-color: var(--primary-color);
}

.feature-box.box-2:hover .icon {
    color: var(--primary-color);
    background-color: white;
}

.feature-box.box-3 .icon {
    color: #ffffff;
    background-color: #F1554C;
    transition: 0.5s;
}

.feature-box.box-3:hover .icon {
    color: #F1554C;
    background-color: white;
}

.feature-box .title {
    color: white;
    font-size: 28px;
    margin-bottom: 23px;
}

.feature-box .desc {
    color: rgba(255, 255, 255, 0.7);
}


/*===11. .company-project--CSS ===*/

.counter-area {
    position: relative;
}

.counter-area .element {
    position: absolute;
}

.counter-items>div:not(:last-child) {
    border-right: 1px solid #EBEBEB;
}

.counter-box {
    text-align: center;
}

.counter-box img {
    margin-bottom: 28px;
}

.counter-box .title {
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
}

.counter-area .element-1 {
    top: 35%;
    left: 25px;
}

.counter-area .element-2 {
    right: 13px;
    top: 30%;
}

.moving-4 {
    animation: moving4 20s linear 0s infinite;
}

@keyframes moving4 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(150px, -150px) rotate(90deg);
    }

    50% {
        transform: translate(300px, 0) rotate(0deg);
    }

    75% {
        transform: translate(150px, 150px) rotate(90deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.moving-5 {
    animation: moving5 20s linear 0s infinite;
}

@keyframes moving5 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(-150px, 150px) rotate(90deg);
    }

    50% {
        transform: translate(300px, 0) rotate(0deg);
    }

    75% {
        transform: translate(-150px, -150px) rotate(90deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}



/*===11. About--CSS ===*/

.about-history {
    background-color: #F7F7F7;
    padding: 100px 200px;
    margin: 0 -100px;
    border-radius: 10px;
}


.about-image.image-1 {
    width: 775px;
    float: right;
    text-align: right;
}

.about-image.image-1 img {
    width: 100%;
}

.about-area .image-info {
    padding: 32px;
    background-color: #F1554C;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    width: calc(100% - 30px);
    border-radius: 5px;
}

.about-history .about-tab {
    margin-bottom: 30px;
}

.about-history .desc {
    color: var(--body-color);
    margin-bottom: 35px;
}

.about-tab .nav-link {
    margin-right: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 12px 24px;

}

.about-tab .nav-link.active {
    background-color: var(--primary-color);
    color: white;
}

.about-history .icon-list {
    list-style: none;
}

.z-index-n1 {
    z-index: -1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.about-history .icon-list {
    list-style: none;
    margin: -8px 0;
    padding: 0;
    color: #10131F;
}

.about-history .icon-list li {
    margin: 16px 0;
    color: #10131F;
    font-weight: 700;
}

.about-history .icon-list li:before {
    content: "\e90e";
    font-family: 'icomoon';
    margin-right: 10px;
    padding: 2px;
    color: white;
    background-color: #F1554C;
    border-radius: 100px;
}

.about-image.image-2 {
    width: 50vw;
    text-align: left;
    float: left;
    max-width: 550px;
}

.about-image.image-2 img,
.about-image.image-1 img {
    border-radius: 6px;
}

/*===10. project--CSS ===*/
.project-area {
    position: relative;
}

.team-member-area .container,
.project-area .container {
    max-width: 1600px;
}

.project-area .project-logo {
    border-right: 1px solid #EBEBEB;
}

.project-area .project-logo img {
    margin-bottom: 30px;

}

.project-box-1 .thumb {
    margin-bottom: 32px;
}

.project-box-1 .thumb img {
    width: 100%;
}

.project-box-1 .top-title {
    color: var(--body-color);
    font-size: 18px;
    margin-bottom: 13px;
}

.project-box-1 .title {
    color: #10131F;
    font-size: 28px;
    transition: 0.5s;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-box-1 .title a {
    color: #10131F;
}

.project-slider .primary-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.project-box-1:hover .title a {
    color: var(--primary-color);
}

.slide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.slide-button .primary-button {
    color: white;
    background-color: var(--primary-color);
}

.slide-button:hover .primary-button {
    color: var(--primary-color);
    background-color: white;
}




/*===12. feedback--CSS ===*/

.feedback-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #10131F;
    text-align: center;
}

.feedback-area .container {
    position: relative;
    z-index: 1;
}

.feedback-box .description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 55px;
}

.feedback-box .name {
    color: white;
    margin-bottom: 10px;
}

.feedback-box .short-title {
    margin-bottom: 57px;
    color: rgba(255, 255, 255, 0.7);
}

.feedback-area .element {
    position: absolute;
}

.feedback-area .element-6 {
    top: 5%;
    left: 5%;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 8px 10px !important;
    display: inline-block;
    position: relative;
    background-color: var(--primary-color);
    opacity: 1;
}

.pagination-control .swiper-pagination-bullet svg {
    position: absolute;
    left: calc(50% + 2px);
    top: calc(50% + 2px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
}

.pagination-control svg circle {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
}

.swiper-pagination-bullet-active svg circle {
    -webkit-animation: slide-progress linear forwards;
    animation: slide-progress linear forwards;
}

@-webkit-keyframes slide-progress {
    0% {
        stroke-dashoffset: 125;
    }

    100% {
        stroke-dashoffset: 63;
    }
}

@keyframes slide-progress {
    0% {
        stroke-dashoffset: 125;
    }

    100% {
        stroke-dashoffset: 63;
    }
}


.moving-6 {
    animation: moving6 20s linear 0s infinite;
}

@keyframes moving6 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(150px, -150px) rotate(90deg);
    }

    50% {
        transform: translate(300px, 0) rotate(0deg);
    }

    75% {
        transform: translate(150px, 150px) rotate(90deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}


.feedback-area .element-7 {
    left: 100%;
    top: 18%;
}


.feedback-area .element-8 {
    left: 0%;
    top: 95%;
}

.moving-8 {
    animation: moving8 20s linear 0s infinite;
}


@keyframes moving8 {
    0% {
        transform: translate(0px, 0px) rotate(100deg);
    }

    35% {
        transform: translate(0px, 0px) rotate(-100deg);
    }
}


/*===13. member--CSS ===*/

.member-title {
    text-align: center;
}

.team-member-box {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    z-index: 1;
}

.team-member-box .thumb {
    margin: 0;
    position: relative;
    z-index: -2;
}

.team-member-box .thumb img {
    width: 100%;
}

.team-member-box .team-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

.team-member-box:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
    z-index: -1;
    transition: 0.5s;
}


.team-member-box:hover:after {
    height: 100%;
    opacity: 1;
}

.team-member-box .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    margin-right: 10px;
    font-size: 14px;
}

.team-member-box .action:hover {
    background-color: var(--primary-color);
    color: white;

}

.team-member-box .name {
    color: white;
    margin-bottom: 4px;
    font-size: 28px;
}

.team-member-box .short-title {
    color: white;
}

.team-member-box .social-links {
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    margin-bottom: -40px;
    opacity: 0;
}

.team-member-box .social-links a:last-child {
    margin-right: 0;
}

.team-member-box:hover .social-links {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 20px;
}


/*===14. faq--CSS ===*/
.faq-area .container {
    position: relative;
    z-index: 1;
}


.faq-questions {
    align-items: center;
    margin-bottom: 42px;
}

.faq-box {
    padding: 40px 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.faq-box .title {
    font-size: 32px;
    margin-bottom: 24px;
    color: white;
}

.faq-area .element {
    position: absolute;
}

.faq-area .element-9 {
    left: -6%;
    bottom: 35%;
}

.moving-9 {
    animation: moving9 20s linear 0s infinite;
}

@keyframes moving9 {
    0% {
        transform: translate(0px, -100px) rotate(0deg);
    }

    25% {
        transform: translate(0px, 100px) rotate(0deg);
    }
}


.call-number .number {
    color: white;
    font-size: 24px;
    margin-bottom: 0;
}

.call-number {
    display: flex;
    color: #ffffff;
    align-items: center;
}

.call-number .call-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    color: var(--primary-color);
    border-radius: 100px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.call-number .call-icon .wave-effect {
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    z-index: -1;
}

.call-number .call-icon .wave-effect span {
    border: none;
    background-color: #ffffff;
}

.ordion-button::after {
    background: none;
    content: "\e937";
    font-family: 'icomoon';
    transform: inherit;
}


.accordion .item {
    background-color: #ffffff;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid#EBEBEB;
    padding: 24px 0;
}

.accordion .item:last-child {
    border: none;
    padding-bottom: 0;
}

.accordion .item:last-child {
    margin-bottom: 0;
}

.accordion .item .title {
    font-size: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.accordion .item .title a {
    display: block;
    color: #10131F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.accordion .item .title a:after {
    content: "\e937";
    font-family: 'icomoon';
    font-size: 15px;
    float: right;
    line-height: 1;
    margin-left: 10px;
}

.accordion .item .title a[aria-expanded="true"]:after {
    content: "\e92d";
}

.accordion .item .desc p {
    margin-top: 16px;
}



/*===15.core-features--CSS ===*/
.core-features-area {
    background-color: #FFF5F3;
}

.core-features-area .container {
    position: relative;
    z-index: 1;
}

.core-features-image {
    text-align: right;
    float: right;
    width: 720px;
    margin: 0;
}

.core-features-image img {
    width: 100%;
}

.core-features-area .element {
    position: absolute;
}

.core-features-area .element-10 {
    left: 74vw;
    bottom: 68%;
}

.moving-10 {
    animation: moving10 20s linear 0s infinite;
}


@keyframes moving10 {
    0% {
        transform: translate(0px, 50px) rotate(20deg);
    }

    25% {
        transform: translate(-50px, 50px) rotate(0deg);
    }
}


.icon-box .icon {
    width: 72px;
    height: 72px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 100px;
    line-height: 72px;
    margin-bottom: 32px;
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.icon-box:hover .icon {
    background-color: white;
    color: var(--primary-color);
}

.icon-box.box-2 .icon {
    background-color: #F1554C;
    color: white;
}

.icon-box.box-2:hover .icon {
    background-color: white;
    color: #F1554C;
}

.icon-box.box-3 .icon {
    background-color: #FDB12E;
    color: white;
}

.icon-box.box-3:hover .icon {
    background-color: white;
    color: #FDB12E;
}

.icon-box.box-4 .icon {
    background-color: #8A64F9;
    color: white;
}

.icon-box.box-4:hover .icon {
    background-color: white;
    color: #8A64F9;
}

.icon-box .title {
    font-size: 28px;
    color: #10131F;
    margin-bottom: 16px;
}


/*===16. news-area--CSS ===*/
.news-area {
    padding-top: 84px;
    padding-bottom: 137px;
    position: relative;
}

.news-area .container {
    position: relative;
    z-index: 1;
}

.project-box-2 .button-link {
    position: relative;
    left: 0;
    border-bottom: 1px solid;
    color: #10131F;
    font-size: 18px;
    transition: 0.5s;
}

.project-box-2 .thumb img {
    width: 100%;
}

.project-box-2 .button-link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.project-box-2 .thumb {
    margin-bottom: 25px;
    color: var(--body-color);
}

.project-box-2 .description a {
    margin-bottom: 12px;
    color: #10131F;
    font-size: 24px;
}

.project-box-2 .title {
    margin-bottom: 24px;
    color: #10131F;
}

.project-box-2 .top-title {
    margin-bottom: 24px;
    color: var(--body-color);
}

.news-area .element {
    position: absolute;
    z-index: -1;
}

.news-area .element-1 {
    right: -11%;
    top: 50px;
}

.news-area .element-2 {
    bottom: 0;
    left: -11%;
}

/*===17. subscribe-area--CSS ===*/
.subscribe-from-area {
    background-color: #F2F2F2;
    padding-top: 116px;
    padding-bottom: 116px;
}

.search-form {
    position: relative;
    z-index: 1;
}

.search-form .input-field {
    width: 100%;
    height: 64px;
    padding: 19px 53px;
    border: none;
    background-color: #ffffff;
    outline: none;
    margin: 0;
}

.search-form label[for="search-input"] {
    position: absolute;
    left: 20px;
    top: 51%;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 1em;
}

.search-form .search-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: var(--primary-color);
    padding: 18px 32px;
    border-radius: 5px;
    font-weight: 700;
    font-size: var(--body-font-size);
    color: #ffffff;
    transition: 0.5s;
}

.search-form .search-button:hover {
    background-color: #2f5250;
}

.filter-button {
    width: 100%;
    height: 84px;
    border: none;
    background-color: #ffffff;
    font-weight: 500;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
}

.filter-button span {
    font-size: 30px;
    margin-right: 12px;
}

.filter-button:hover {
    background-color: #F9F9F9;
}



/*=== 18. Footer-CSS ===*/
.footer-area {
    background-color: #10131F;
}


.footer-widget .footer-logo {
    display: inline-block;
    margin-bottom: 58px;
}

.footer-bottom {
    border-top: 1px solid rgba(19, 19, 19, 0.1);
    padding: 24px 0;
    text-align: center;
}

.footer-widget .desc {
    margin-bottom: 38px;
}

.social-menu {
    list-style: none;
    margin: -10px;
    padding: 0;
    display: flex;
}

.footer-widget .social-menu a {
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    margin-right: 16px;
    font-size: 14px;
}

.social-menu li:hover a {
    background-color: var(--primary-color);
    color: white;
}

.footer-desc {
    margin-bottom: 24px;
}

.footer-widget .widget-title {
    margin-bottom: 24px;
}

.footer-widget .widget-title {
    color: white;
    font-size: 24px;
    margin-bottom: 44px;
}

.element.element-13.moving-13 {
    position: absolute;
    right: 120px;
    margin-top: 100px;
}

.element.element-14.moving-14 {
    position: absolute;
    left: -90px;
    margin-top: -155px;
}


.moving-13 {
    animation: moving13 20s linear 0s infinite;
}

@keyframes moving13 {
    0% {
        transform: translate(0px, -100px) rotate(0deg);
    }

    25% {
        transform: translate(0px, 100px) rotate(0deg);
    }
}

.moving-14 {
    animation: moving14 20s linear 0s infinite;
}


@keyframes moving14 {
    0% {
        transform: translate(0px, 0px) rotate(100deg);
    }

    35% {
        transform: translate(0px, 0px) rotate(-100deg);
    }
}

.block-list {
    list-style: none;
    margin: -8px 0;
    padding: 0;
}

.block-list li {
    display: block;
}

.block-list li a {
    color: var(--body-color);
    display: inline-block;
    margin: 8px 0;
}

.block-list li:hover a {
    color: var(--primary-color);
}

.input-control {
    background-color: white;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 24px;
    font-weight: 500;
    outline: none;
    line-height: 1.445em;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}



.subscribe-form .input-control {
    width: calc(100% - 66px);
    padding-left: 44px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.subscribe-form {
    position: relative;
    z-index: 1;
}

.subscribe-form .ls-envelope {
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: 2;
}

.subscribe-form button[type="submit"] {
    width: 56px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 0 0 rgba(255, 107, 49, 0.3);
}

.subscribe-form button[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    -webkit-box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
    box-shadow: 0px 15px 30px rgba(255, 107, 49, 0.3);
}

.subscribe-form .mc-error {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 10px;
}

.copyrights-list .block-list {
    display: flex;
}

.copyrights-list .block-list li {
    margin-left: 40px;
}

.copyrights-list ul {
    display: flex;
    list-style: none;
}

.copyrights-list ul li a {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 500;
}

.footer-bottom {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF20;
    padding: 24px 0 24px 0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}